@model StandardCMS.DB.Models.Content
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="CreateContent">
    <div class="form-group">
        <label asp-for="SubMenuId" class="control-label"></label>
        <select asp-for="SubMenuId" class="form-control" asp-items="ViewBag.SubMenuId"></select>
        <span asp-validation-for="SubMenuId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HtmlContent" class="control-label"></label>
        <textarea asp-for="HtmlContent" class="form-control" id="htmlEditor"></textarea>
        <span asp-validation-for="HtmlContent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Content" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/xehltbtt8xpmtmuqyjuudoeei8gb5r2y78tp65sk7j85yayy/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
    tinymce.init({
        selector: '#htmlEditor',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>
}

@* @section Scripts {
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#htmlEditor'
        });
    </script> 
}*@
